name: build
run-name: "build ${{ inputs.packages }} (${{ inputs.nixpkgs }})"

permissions: {}

on:
  workflow_dispatch:
    inputs:
      packages:
        description: "Packages"
        required: false
        type: string
      x86_64-linux:
        description: "Build on x86_64-linux"
        required: true
        type: boolean
        default: true
      aarch64-linux:
        description: "Build on aarch64-linux"
        required: true
        type: boolean
        default: true
      x86_64-darwin:
        description: "Build on x86_64-darwin"
        required: true
        type: choice
        default: "no"
        options:
          - "no"
          - yes_sandbox_false
          - yes_sandbox_relaxed
          - yes_sandbox_true
      aarch64-darwin:
        description: "Build on aarch64-darwin"
        required: true
        type: choice
        default: "no"
        options:
          - "no"
          - yes_sandbox_false
          - yes_sandbox_relaxed
          - yes_sandbox_true
      upterm:
        description: "Start upterm session after nix build"
        required: true
        type: boolean
        default: false
      nixpkgs:
        description: "Nixpkgs version (e.g. github:NixOS/nixpkgs/nixos-unstable or github:NixOS/nixpkgs/master)"
        required: true
        type: string
        default: github:NixOS/nixpkgs/master
      cachix:
        description: "Use non-default caches?"
        required: true
        type: boolean
        default: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        system:
          - x86_64-linux
          - aarch64-linux
          - x86_64-darwin
          - aarch64-darwin
        exclude:
          - system: ${{ !inputs.x86_64-linux && 'x86_64-linux' || '' }}
          - system: ${{ !inputs.aarch64-linux && 'aarch64-linux' || '' }}
          - system: ${{ inputs.x86_64-darwin == 'no' && 'x86_64-darwin' || '' }}
          - system: ${{ inputs.aarch64-darwin == 'no' && 'aarch64-darwin' || '' }}
    runs-on: >-
      ${{ (matrix.system == 'x86_64-linux' && 'ubuntu-latest')
      || (matrix.system == 'aarch64-linux' && 'ubuntu-24.04-arm')
      || (matrix.system == 'x86_64-darwin' && 'macos-latest')
      || (matrix.system == 'aarch64-darwin' && 'macos-latest') }}

    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: .github/actions

      - name: setup nix
        uses: ./.github/actions/setup-nix
        with:
          extra-nix-config: ${{ vars.EXTRA_NIX_CONFIG }}
          system: ${{ matrix.system }}
          sandbox: ${{
            (matrix.system == 'x86_64-darwin' && inputs.x86_64-darwin == 'yes_sandbox_false'
            || matrix.system == 'aarch64-darwin' && inputs.aarch64-darwin == 'yes_sandbox_false') && 'false'
            || (matrix.system == 'x86_64-darwin' && inputs.x86_64-darwin == 'yes_sandbox_relaxed'
            || matrix.system == 'aarch64-darwin' && inputs.aarch64-darwin == 'yes_sandbox_relaxed') && 'relaxed'
            || 'true' }}

      - name: setup Cachix
        if: ${{ inputs.cachix }}
        uses: cachix/cachix-action@v16
        with:
          name: ${{ vars.CACHIX_CACHE }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community

      - name: nix build
        run: |
          pkgs=(${{ inputs.packages }})
          for pkg in ${pkgs[@]}; do args+=("${NIXPKGS_REF}#${pkg}"); done
          nix build --keep-going -L "${args[@]}"
        if: ${{ inputs.packages != '' }}
        env:
          NIXPKGS_REF: ${{ inputs.nixpkgs }}

      - name: set GITHUB_TOKEN
        if: ${{ inputs.upterm }}
        run: echo "GITHUB_TOKEN=${GITHUB_TOKEN}" >> "$GITHUB_ENV"
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: start upterm session
        if: ${{ inputs.upterm }}
        uses: owenthereal/action-upterm@v1
        with:
          limit-access-to-actor: true
